* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif !important;
}
a {
  text-decoration: none !important;
  color: #333 !important;
}
li {
  list-style: none;
}
p {
  margin: 0 !important;
}

/* checkout */

.paynow-text {
  margin-top: 40px;
  text-align: right;
}
.paynow-text h1 {
  display: inline-block;
  margin: 20px 0;
  font-size: 34px;
  color: #666;
  font-weight: 500;
}
.paynow-text h1:hover {
  color: #d8492c;
}
.cart-sidebar {
  padding: 17px;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
}
.cart-sidebar h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-card1 {
  margin-bottom: 15px;
}
.form-card-text {
  display: flex;
  padding: 0 12px 0;
  margin-bottom: 10px;
}
.form-card-text p {
  font-weight: bold;
  font-size: 13px;
  padding-right: 5px;
  padding-top: 5px;
}
.form-card-text span {
  color: #d8492c;
}
.form-card-input input {
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
}
.form-card-input input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(102, 175, 233, 0.6),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.form-card-input select {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
}
.form-card-input select:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(102, 175, 233, 0.6),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.select option {
  display: inline-block;
  background-color: #ffffff;
}
.select option:hover {
  background-color: #0a7cff;
}
.input-specail {
  height: 47px;
}

/* payments */
.payments {
  margin-top: 20px;
  padding: 17px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 30px;
}
.payments h2 {
  font-size: 18px;
  font-weight: 600;
}
.payments-option {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.payments-option span {
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
.discount-card-input {
  padding: 0 12px;
}
.discount-card-input {
  display: flex;
  align-items: center;
}
.discount-card-input input {
  width: 200px;
  padding: 8px 0;
  cursor: pointer;
}
.discount-card-input button {
  width: 100px;
  height: 38px;
  background-color: #545454;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

/* cart sidebar */
.cart-sidebar__right {
  padding: 17px;
  border: 1px solid #333;
  border-radius: 5px;
}
.cart-sidebar__right h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.discount-card {
  display: flex;
}
.discount-card span {
  padding: 5px 12px 0;
  font-size: 14px;
  font-weight: 600;
}
.discount-card input {
  padding: 8px 10px;
  font-size: 12px;
  outline: none;
}

/* cart-info */
.cart-info{
  padding: 17px;
  border: 1px solid #333;
  border-radius: 5px;
}
.cart-info-title{
  display: flex;
  justify-content: space-between;

}
.title-cart{
  display: flex;
}
.title-cart h2{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.title-cart span{
  margin-left: 5px;
  font-size: 14px;
 color: #545454;
}
.title-cart-text span{
  margin-left: 5px;
  font-size: 10px;
 color: #545454;
}.cart-item {
 
    border: 1px solid #969696;
    background-color: #f2f2f2 ;
  }
  .product-name span {
    color: #666;
    cursor: pointer;
    padding: 10px;
    font-size: 12px !important;
  }
  .product-name span:hover {
    color: #d8492c;
  }
  .product-sezi span {
    color: #666;
  }
  .product-price {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
  }
  .quantity-product {
    margin: 10px;
    text-align: center !important;
  }
  .total-price {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #d8492c;
  }
  .cart-calculator {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  