* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif !important;
}
a {
  text-decoration: none !important;
  color: #333 !important;
}
li {
  list-style: none;
}
p {
  margin: 0 !important;
}
.body-login{
  width: 100%;
  transition: margin-left 0.3s;
}
.header {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 107px;
  padding: 10px 0;
}
.hidden-icon {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.header-img img {
  width: 170px;
  height: 106px;
  object-fit: contain;
}
.header-input {
  position: relative;
}
.header-input input {
  width: 350px;
  border: 2px solid #d5d5d5;
  outline: 1px solid #d5d5d5;

  border-radius: 15px;
  font-size: 12px;
  color: #999;
  padding: 8px 20px;
  margin: 0 30px;
  outline: none;
}
.header-input i {
  position: absolute;
  top: 10px;
  right: 50px;
  color: #666666;
}
.hotline {
  margin-right: 50px;
}
.hotline i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  color: #666;
  background-color: #f7f7f7;
}
.hotline span {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
}
.login-register {
  display: flex;
  align-items: center;
  line-height: 10px;
  margin-right: 90px;
}
.login a {
  font-size: 14px;
  color: #545454 !important;
  border-right: 2px solid #545454;
  padding: 0 5px;
  margin: 0 5px;
}
.register a {
  font-size: 14px;
  color: #545454 !important;
}
.login-register .login:hover a {
  color: #d8492c !important;
  border-right-color: #d8492c;
}
.login-register .register:hover a {
  color: #d8492c !important;
}

.cart-icon1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e02124;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 36px !important;
}
.header-cart2 {
  position: relative;
  padding-right: 15px;
}
.cart-icon2 {
  font-size: 24px;
  color: #e02124;
}
.header-cart2 strong {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #e02124;
  color: white;
  font-size: 12px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: -11px;
  right: 14px;
}
.header-cart {
  display: flex;
  align-items: center;
}
.header-cart sup {
  position: relative;
  left: 0;
}
.header-cart span {
  margin-left: 5px;
  font-size: 14px;
}
.header-cart:hover span {
  color: #d8492c;
}

.input-hidden input {
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 10px;
  border: 1px solid rgba(221, 221, 221, 0.57);
  color: #333;
  outline: 1px solid rgba(221, 221, 221, 0.57);
  border-radius: 5px;
}
.input-hidden input:focus {
  border: 2px solid #ee4d2d !important;
}
/* header */
/* * menu-mobile * */
.menu-list-mobile {
  padding: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  display: none;
}
.icon-hidden-menu {
  padding: 0 !important;
  text-align: right;
}
.icon-hidden-menu i {
  font-size: 50px;
  display: none;
}

.menu-item2-mobile .icon-down {
  padding: 14px;
  border-left: 1px dotted #a8a8ac;
  position: absolute;
  top: 0;
  background-color: #f7f7f7;
  right: 0;
}
.menu-item2-mobile .icon-right {
  display: none;
  padding: 14px;
  border-left: 1px dotted #949599;
  position: absolute;
  top: 0;
  right: 5px;
}
.menu-item2-mobile {
  position: relative;
  padding-right: 65px !important;
}
.menu-list-mobile li {
  padding: 10px 0 10px 10px;
  font-size: 16px;
  border-bottom: 1px dotted #ccc;
}
.menu-child1-mobile {
  padding: 10px;
  padding: 0;
  background-color: #f7f7f7;
  display: none;
}
.menu-child1-mobile li {
  padding-left: 20px;
  font-size: 15px;
  font-size: 600;
}

/*  */
.menu-item5-mobile .icon2-down {
  padding: 14px;
  border-left: 1px dotted #a8a8ac;
  position: absolute;
  top: 0;
  background-color: #f7f7f7;
  right: 0;
}
.menu-item5-mobile .icon2-right {
  display: none;
  padding: 14px;
  border-left: 1px dotted #949599;
  position: absolute;
  top: 0;
  right: 5px;
}
.menu-item5-mobile {
  position: relative;
  padding-right: 65px !important;
}
.menu-child3-mobile {
  padding: 10px;
  padding: 0;
  background-color: #f7f7f7;
  display: none;
}
.menu-child3-mobile li {
  padding-left: 20px;
  font-size: 15px;
  font-size: 600;
}

/* header menu */
.header-menu {
  background-color: #f7f7f7;
  font-weight: 500;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.menu-list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.menu-list a:hover {
  color: #e02124 !important;
}
.menu-list li {
  padding: 20px;
  font-size: 14px;
  border-right: 1px dotted #ccc;
}

/* menu-child1 */

.menu-item2 {
  position: relative;
}
.menu-child1 i {
  position: relative;
  left: -13px;
  top: 1px;
}
.menu-child1 {
  width: 450px;
  height: 240px;
  padding-top: 15px !important;
  position: absolute;
  top: 60px;
  padding: 0;
  left: 0px;

  background-color: #ffffff;
  display: none;
}
.menu-child1 li {
  padding: 8px 20px;
}
.menu-child1 li a {
  padding: 10px;
  font-size: 14px;
  color: #545454 !important;
  font-weight: 500;
}
.menu-child1 a:hover {
  color: #55c3bf !important;
}
.menu-list .menu-item2:hover .menu-child1 {
  display: block;
}
/* menu-child2 310pcảd*/
.menu-item3 {
  position: relative;
}
.menu-child2 {
  width: 450px;
  height: 210px;
  position: absolute;
  top: 60px;
  padding: 0;
  left: 0px;
  background-color: #ffffff;
  padding: 20px 0;
  display: none;
}
.menu-child2 i {
  position: relative;
  left: -17px;
}
.menu-child2 li {
  padding: 5px;
  font-size: 14px;
  color: #545454 !important;
  font-weight: 500;
  padding-left: 40px;
}
.menu-child2 a:hover {
  color: #55c3bf !important;
}
.menu-list .menu-item3:hover .menu-child2 {
  display: block;
}
/* menu-child3 */
.menu-item5 {
  position: relative;
}
.menu-child3 {
  width: 450px;
  height: 210px;
  position: absolute;
  top: 60px;
  padding: 0;
  left: 0px;
  background-color: #ffffff;
  padding-top: 20px;
  display: none;
}
.menu-child3 i {
  position: relative;
  left: -15px;
}
.menu-child3 li {
  padding: 5px;
  font-size: 14px;
  color: #545454 !important;
  font-weight: 500;
  padding-left: 40px;
}
.menu-child3 a:hover {
  color: #55c3bf !important;
}
.menu-list .menu-item5:hover .menu-child3 {
  display: block;
}
/* end header */
/* login */
.login-register__form{
    position: relative;
}
.login-form {
  border: 1px solid #545454;
  margin: 20px 0;
}
.login-register__btn {
  display: flex;
}
.login-register__btn .login-text:hover {
  color: #d61c1f !important;
}
.login-register__btn .register-text:hover {
  color: #d61c1f !important;
  border-bottom: 2px solid #0a7cff;
}
.login-register__btn a {
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px !important;
  text-align: center;
  padding: 5px 10px;
}
.login-register__btn .active {
  border-bottom: 2px solid #0a7cff;
}
.login-form_item {
    display: none;
}
.login-form .active {
    display: block;
}
.login-form_item {
  width: 100%;
  padding: 20px;
}
.input-email input {
  width: 100%;

  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  outline: none;
}
.input-email input:focus {
  outline: 2px solid #000 !important;
}
.pass-word input {
  width: 100%;

  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  outline: none;
}
.pass-word input:focus {
  outline: 2px solid #000 !important;
}
.login-btn button {
  padding: 6px 12px;
  font-size: 15px;
  background: #000;
  color: #fff;
  

}
.forgot-password{
    margin: 10px 0;
    text-align: center;
   
}

.forgot-password a{
    font-size: 18px !important;
    color: #0a7cff !important;
    font-weight: 500;
}
.forgot-password a:hover{
    color: #df583e !important;
}
.clear-fix p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}
.login-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-facebook{
    display: flex;
    margin: 20px;
    align-items: center;
    margin: 20px  ;
}
.link-facebook span{
    display: inline-block;
    text-align: center;
    width:70px;
    height: 100%;
    font-size: 31px;
    color: #fff;
    border-right: 1px solid #333;
    background-color: #3B5998;
}
.link-facebook a{
    display: inline-block;
font-size: 16px;
height: 46px;
line-height: 46px;
width: 100%;
background-color: #3B5998;
color: #fff !important;

}
.link-google{
    display: flex;
    align-items: center;
    margin: 20px;
}
.link-google span{
    display: inline-block;
    text-align: center;
    width:70px;
    height: 100%;
    font-size: 31px;
    color: #fff;
    border-right: 1px solid #333;
    background-color: #000;
}
.link-google a{
display: inline-block;
font-size: 16px;
height: 46px;
line-height: 46px;
width: 100%;
background-color: #000;
color: #fff !important;

}
/* login end */

/* footer */
/* address shop */

.address-store {
  width: 100%;
  height: 212px;
  background-image: url(/images/address-shop-img.jpg);
  text-align: center;
  position: relative;
}

.link-address__store {
  font-size: 21px;
  padding: 10px 50px;
  font-weight: 500;
  background-color: #000;
  color: #ffffff !important;
  border: 2px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
.link-product a {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
}
/* footer */
.phone-store {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.phone-store strong {
  font-size: 14px;
  font-weight: 600;
}
.phone-store span {
  font-size: 26px;
  font-weight: 500;
  color: #e32124;
  position: relative;
}
.phone-store p {
  font-size: 13px;
  font-weight: 500;
}
.phone-store img {
  position: absolute;
  left: 30px;
  top: 3px;
}
.registration-email {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registration-email strong {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.registration-email input {
  display: block;
  font-size: 12px;
  padding: 10px;
  border: 0;
  outline: 1px solid #d0d0d0;
  margin-top: 10px;
}
.registration-email button {
  display: inline-block;
  font-size: 13px;
  padding: 9px 15px;
  font-weight: 600;
  color: #ffffff;
  background-color: #3c3c3c;
  position: absolute;
  top: 33px;
  right: 0;
}
.registration-email input:focus {
  outline: 1px solid #333;
}
.info-facebook {
  text-align: center;
}
.info-facebook strong {
  font-size: 14px;
  font-weight: 600;
}
.info-facebook i {
  font-size: 42px;
  padding-top: 10px;
  cursor: pointer;
}
/* facebook-card */
.card-img {
  position: relative;
}
.card-img img {
  width: 100%;
  height: 130px;
  object-fit: cover;
 
}
.empty-box {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border: 2px solid #356fc3;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 5px;
  left: 10px;
}
.store-name h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  position: relative;
}
.store-name a {
  color: #ffffff !important;
}
.store-name i {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 10px;
  background-color: #668ec6;
  border-radius: 50%;
  padding: 0;
  line-height: 16px;
  color: white;
  border: 3px solid #ffffff;
}
.store-name span {
  display: block;
  font-size: 12px;
  font-size: 700;
  color: #ffffff;
  padding-right: 8px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}
.store-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 50px;
}
.line {
  width: 130px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 2px;
  display: none;
}
.store-name h3:hover .line {
  display: block;
}

.facebook-card__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
}
.follow {
  width: 130px;
  height: 24px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-left: 13px;
}
.follow i {
  font-size: 15px;
  color: #356fc3;
  padding-top: 0;
}
.follow span {
  font-size: 12px;
  color: #4b4f56;
  font-weight: 600;

  line-height: 36px;
}
.facebook-card__item1 .follow:hover {
  background-color: #faf8f8;
}
.share {
  width: 80px;
  height: 24px;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-right: 5px;
}

.share i {
  font-size: 15px;
  color: #666;
  padding-top: 0;
}
.share span {
  font-size: 12px;
  color: #4b4f56;
  font-weight: 600;
  line-height: 36px;
}

.section2 {
  margin-bottom: 20px;
}
.app-info {
  /* margin-top: 100px; */
  text-align: left;
  display: flex;
  align-items: center;
}
.app-info svg{
  width: 60px;
  height: 60px;
  }
  
.app-info i {
  margin-left: 10px;
}
.app-info .fa-instagram:hover {
  color: #dc787a;
}
.app-info .fa-youtube:hover {
  color: #d61c1f;
}
/* footer */
.footer-menu {
  background-color: #f4f4f4;
}
.footer-menu__list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
  justify-content: center;
  align-items: center;
}
.footer-menu__list li {
  padding: 14px 10px 13px;
  font-size: 15px;
  color: #545454;
  font-weight: 400;
  position: relative;
}
.footer-menu__list li::before {
  content: "";
  width: 1px;
  height: 40px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 30%;
}
.footer-end {
  background-color: #e5e5e5;
}
.address-web__store {
  padding-top: 10px;
}
.address-web__store strong {
  display: block;
  color: #666;
  line-height: 25px;
  font-size: 12px;
  text-align: left;
}
.address-web__store strong:hover {
  color: #df583e;
}
.footer-address__store {
  padding-top: 10px;
}
.footer-address__store strong {
  display: block;
  color: #666;
  line-height: 25px;
  font-size: 12px;
}
.footer-address__store p {
  display: block;
  color: #666;
  line-height: 25px;
  font-size: 12px;
}

.footer-img {
  padding-top: 20px;
}
.footer-img img {
  width: 300px;
  height: 114px;
}

.web-button {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  width: 55px;
  height: 45px;
  line-height: 55px;
  background: #fff;
  font-weight: 600;
  border: 1px solid #cccccc;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10000;
  position: fixed;
  bottom: 30px;
  right: -200px;
  display: none;
  transition: right 0.4s ease-in-out;
}

.web-button.appear {
  right: 80px;
}

.web-button i {
  position: absolute;
  top: 11px;
  left: 20px;
}
.web-button:hover {
  color: #d61c1f;
}
.web-icon svg {
  width: 50px;
  height: 50px;
  color: #0a7cff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  z-index: 1000;
  right: 30px;
  bottom: 30px;
}
.web-icon {
  display: none;
}
.web-icon2 {
  font-size: 25px;
  background-color: rgb(70, 187, 70);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  z-index: 1000;
  left: 30px;
  bottom: 30px;
  display: none;
  cursor: pointer;
}
.web-icon2 i {
  animation: shake-bl 1s 0.5s infinite;
}

@keyframes shake-bl {
  0%,
  100% {
    transform: rotate(0deg);

    transform-origin: 0 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@media screen and (max-width:576px) {
  .icon-hidden-menu i{
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  .address-store a {
    font-size: 10px !important;
    padding: 10px 30px;
  }
  .phone-store strong {
    font-size: 11px;
  }
  .phone-store span {
    font-size: 16px;
  }
  .phone-store img {
    display: none;
  }
  .phone-store p {
    font-size: 12px;
  }
  .footer-menu__list {
    display: flex;
    flex-direction: column;
  }
  .footer-menu__list li {
    border-bottom: 1px dotted #333;
    width: 100%;
  }
  .footer-menu__list li::before {
    display: none;
  }
  .web-icon2 {
    display: block;
  }
  
}
@media screen and (min-width: 992px) {
  .header-cart2 {
    display: none;
  }
  .input-hidden {
    display: none;
  }
  
}
@media screen and (max-width: 992px) {
  .address-store a {
    font-size: 18px;
    padding: 10px 30px;
  }
  .hidden-icon {
    display: flex;
    padding-left: 13px;
  }
  .header-input {
    display: none;
  }
  .login-register {
    display: none;
  }
  .hotline {
    display: none;
  }
  .header-cart {
    display: none;
  }
  .header {
    flex-wrap: wrap;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: white;
    height: 100px;
  }
  .header-img img {
    width: 130px;
    height: 34px;
  }
  .header-cart2 {
    display: flex;
    padding-right: 30px;
  }
  .input-hidden {
    display: block;
    padding: 10px;
    width: 100%;
  }
  .header-menu {
    display: none;
  }
.login-form{
    margin-top: 120px;
}
.login-link{
    display: flex;
   flex-wrap: wrap;
}

  .footer-img img {
    width: 250px;
    height: 114px;
  }
}

/*  */

@media screen and (min-width: 1200px) {
  .custom-row {
    display: flex;
    flex-wrap: wrap;
  }
  .custom-col {
    flex-basis: calc(20% - 30px);
    flex: 1;
    margin: 7px;
    padding: 5px !important;
  }
}
@media screen and (max-width: 1200px) {
  .header-input input {
    width: 250px;
  }
  .hotline span {
    font-size: 10px;
  }
  .login a {
    font-size: 10px;
  }
  .register a {
    font-size: 10px;
  }
  .product-img img {
    object-fit: cover;
    height: 407px;
    transition: 0.5s ease-in-out;
  }

  .phone-store {
    text-align: left;
  }
  .registration-email {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
  .registration-email button {
    position: absolute;
    right: 0;
  }
  .phone-store span {
    position: relative;
  }
  .phone-store img {
    position: absolute;
    left: -40px !important;
    top: 3px;
  }
  .info-facebook {
    margin-top: 20px;
    text-align: left;
  }

  .facebook-card__item{
    width: 310px;
  }
  .card-img .banner-info__facebook{
    width: 310px;
  }
 
  .empty-box {
    width: 310px;
  }
}

@media screen and (max-width: 1400px) {
  .phone-store img {
    position: absolute;
    left: 10px;
    top: 3px;
  }
  .cart-ship img {
    margin-top: 10px !important;
  }
  .cart-payment img {
    margin-top: 10px !important;
  }
}
